{% extends 'base.html.twig' %}

{% block style %}{% endblock %}

{% block body %}

  <div class="container-fluid">
    <div class="jumbotron">
      <h1 class="display-4">Galerie Photos Inspiration</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>
  </div>

  <div class="container-fluid">
    {# <div class="row">
		<div class="col-3"> #}
    <h4 class="ml-4">Recherche</h4>
    <div class="container-fluid ml-2">
      {{form_start(form,{attr:{class: 'search d-flex'} } )}}

      {{form_row(form.q) }}

      <button type="submit" class="btn-sm btn-info search-video ml-3">Filtrer</button>

      {{form_end(form)}}

    </div>
    {# </div> #}

    {# <div class="col-sm-9 "> #}
    <div class=" row d-flex my-auto py-3">
      {% for image in images %}
        <div class="col-sm-12 col-md-6 col-lg-4" id="list_video" onclick="myFunction()">
          {# <img class="img_video mb-4" src="../../uploadsImgVideo/{{video.image}}" height="100%" width="100%"
						alt="" style="max-height: 259px; ;"> #}
          {# <img src="../../images/play_btn.png" class="play_btn" onclick="playVideo('{{video.url}}')"> #}

        </div>
      {% endfor %}
    </div>

    {# test #}
    <div class="container-fluid">
      <div class="jumbotron">
        <h1 class="display-4">Mon portfolio</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <figure class="figure">
            <img src="img/images/adult-1867665_1280.jpg" alt="" id="imagePrincipale" class="w-100">
            <figcaption class="figure-caption">
              <h3 class="p-3">Mon portfolio :
                <span id="textCaption">une image de ville 1</span>.</h3>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-3 overflow-auto" style="height: 500px;">
          <div class="row">

            {# <?php 
                        $numero = 1;
                        foreach($liste_images AS $src) {

                            if( 
                                strpos($src, '.jpg') !== false || 
                                strpos($src, '.jpeg') !== false || 
                                strpos($src, '.png') !== false || 
                                strpos($src, '.gif') !== false ) {

                                echo '<div class="col-6 mb-3">';
                                echo '<img src="img/thumbnails/' . $src . '" class=" img-thumbnail mesThumbnails" alt="une image de ville ' . $numero . '">';
                                echo '</div>';
                            }

                            $numero++;
                        }

                    ?> #}
            {% for liste_images in images %}

              {# <div class="col-sm-12 col-md-6 col-lg-4" id="list_video" onclick="myFunction()"> #}
              {# <img class="img_video mb-4" src="../../uploadsImgVideo/{{video.image}}" height="100%" width="100%"
						alt="" style="max-height: 259px; ;"> #}
              {# <img src="../../images/play_btn.png" class="play_btn" onclick="playVideo('{{video.url}}')"> #}
              <div class="col-6 mb-3">';

                <img src="img/thumbnails/{{src}} " class=" img-thumbnail mesThumbnails" alt="une image de ville">';

              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade " id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="img/images/adult-1867665_1280.jpg" alt="" id="imageModal" class="w-100">
          </div>
        </div>
      </div>
    </div>
    {# fin test #}
    {# </div> #}
    {# </div> #}

  </div>

  <div class="video-player" id="videoPlayer">
    {# <iframe width="100%" height="600px" id="myVideo" src="https://www.youtube.com/embed/HxbHa2R_nrg"
		title="YouTube video player" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe> #}
    <img src="../../images/close_btn2.jpg" class="close-btn" onclick="stopVideo()">

  </div>

{% endblock %}