{# <footer class="footer-custom">
	FOOTER
	<p>Author: Aby Coly<br>
		<a href="mailto:melle.abycoly@gmail.com">melle.abycoly@gmail.com</a>
	</p>
</footer> #}

<footer class="footer_dark bg-dark">
  <div class="footer_top">
    <div class="container-fluid px-5">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
          <div class="widget">
            <div class="footer_logo ">
              <a href="{{ path('home')}}"><img src="{{ asset('images/logo/logo_small.png') }}" alt="logo" width="auto"/></a>
            </div>
          </div>
          <div class="widget">
            <ul class="social_icons social_white">
              <li>
                <a href="https://fr-fr.facebook.com/" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCgJN2yAOsuxYqStbI7tLWSQ">
                  <i class="fab fa-youtube"></i>
                <li>
                  <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12">
            <div class="widget">
              <h6 class="widget_title">Liens utiles</h6>
              <ul class="widget_links">
                <li>
                  <a href="{{path('contact')}}">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12 ">
            <div class="widget">
              <h6 class="widget_title">Categories</h6>
              <ul class="widget_links">
                <li>
                  <a href="#meilleurVentes">Meilleures ventes</a>
                </li>
                <li>
                  <a href="#">Nouveauté</a>
                </li>
                <li>
                  <a href="#">Offres spéciales</a>
                </li>
                <li>
                  <a href="/categorie/perruque">Perruqes</a>
                </li>
                <li>
                  <a href="/categorie/tissage">Tissages</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12">
            <div class="widget">
              <h6 class="widget_title">Mon compte</h6>
              <ul class="widget_links">
                <li>
                  <a href="{{path ('account')}}">Mon compte</a>
                </li>
                <li>
                  <a href="{{path ('account_order')}}">Mes commandes</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="widget">
              <h6 class="widget_title">Contact Info</h6>
              <ul class="contact_info contact_info_light">
                <li>
                  <i class="fas fa-map-marker-alt"></i>
                  <a href="https://goo.gl/maps/xtYduwp5f2h6nz8w8">
                    10 av. des champs 75010 Paris</a>
                </li>
                <li>
                  <i class="fas fa-mail-bulk"></i>
                  <a href="mailto:melle.abycoly@gmail.com">melle.abycoly@gmail.com</a>
                </li>
                <li>
                  <i class="fas fa-phone-alt "></i>
                  <a href="tel:0614087338">
                    06 14 08 73 38</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom_footer border-top-tran">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 my-auto">
            <p class="mb-md-0 text-center text-md-left">© 2021 All Rights Reserved by Aby Coly</p>
          </div>
          <div class="col-lg-6 col md-12">
            <ul class="footer_payment text-center text-lg-right">
              <li>
                <i class="fab fa-cc-visa " style="color: blue;"></i>
              </li>
              <li>
                <i class="fab fa-cc-mastercard" style="color:red;"></i>
              </li>
              <li>
                <i class="fab fa-cc-paypal" style="color: blue;"></i>
              </li>
              <li>
                <i class="fab fa-cc-amex" style="color: black;"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <button onclick="topFunction()" id="myBtn" title="Go to top">
    <i class="fas fa-chevron-circle-up"></i>
  </button>
